<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.siddhiparekh11.sr">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.siddhiparekh11.sr.SplashScreen1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.siddhiparekh11.sr.Signup" />
        <activity android:name="com.example.siddhiparekh11.sr.SplashScreen2"></activity>
        <activity android:name="com.example.siddhiparekh11.sr.PaymentMain"></activity>
        <activity android:name="com.example.siddhiparekh11.sr.SplashScreen3"></activity>
        <activity android:name="com.example.siddhiparekh11.sr.SplashScreen4"></activity>
        <activity android:name="com.example.siddhiparekh11.sr.MainAct"></activity>
        <activity android:name="com.example.siddhiparekh11.sr.HomeActivity" />
        <activity android:name="com.example.siddhiparekh11.sr.MainActivity" />
        <activity
            android:name="com.example.siddhiparekh11.sr.HomeActivity1"
            android:label="@string/title_activity_home1"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>